<div class="container">
<h1><%= __('Comment') %>s for SAILS<small>js</small> + REACT<small>js</small></h1>
</div>

<div class="container" id="commentForm"></div>
<div class="container" id="commentList"></div>

<script src="/js/commentMain.js"></script>
