<link rel="stylesheet" href="/bower_components/todomvc-common/base.css">

<section id="todoapp"></section>
<footer id="info">
	<p>Double-click to edit a todo</p>
	<p>React by <a href="http://github.com/petehunt/">petehunt</a></p>
	<p>Extended by <a href="http://github.com/mixxen/">mixxen</a></p>
	<p>Part of<a href="http://todomvc.com">TodoMVC</a></p>
</footer>

<script src="/bower_components/todomvc-common/base.js"></script>
<script src="/bower_components/director/build/director.js"></script>

<script src="/js/todoMain.js"></script>
