<div class="container">
  <h1>SAILS<small>js</small> + REACT<small>js</small> Examples</h1>


  <h3><a href='/comment/app'>Real Time Comments</a></h3>
  Extending on the <a href='http://facebook.github.io/react/docs/tutorial.html'>ReactJS tutorial</a>. This example adds SailsJS real time functionality.

  <h3><a href='/todo/app'>Todo MVC</a></h3>
  Extending on the <a href='https://github.com/tastejs/todomvc/tree/gh-pages/architecture-examples/react'>TodoMVC ReactJS</a> example. This example adds SailsJS real time functionality.

</div>
